{% from 'macros.html' import afficheCommentaire %}
{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% if current_user.is_authenticated %}
		        {% with messages = get_flashed_messages() %}
			        {% if messages %}
			            {% for m in messages %}
			                <div class="alert alert-success">{{ m }}</div>
			            {% endfor %}
			        {% endif %}
				{% endwith %}
		{% endif %}
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
	        	<div class="blur col-md-12 col-sm-12 col-xs-12">
	        		{% if album.img==None %}
	        			<img class="img-responsive"src="{{url_for('static',filename='img/rock/default.jpg')}}" alt="">
	        		{% else %}
	        			<img class="img-responsive"src="{{url_for('static',filename='img/rock/images/'+album.img)}}" alt="">
	        		{% endif %}
	        	</div>
	        	<div class="info">
					<div class="col-xs-12 col-md-12 col-sm-12 text-center">
						<h1>{{ album.title }}</h1>
						<i><h4>Par <a href="{{ url_for('artiste',id=album.artiste.id) }}">{{album.by}}</a></h4></i>
					</div>
		            <div class="col-md-4 col-xs-4 col-sm-4 col-sm-offset-2 col-xs-offset-2 col-md-offset-2">
		           		{% if album.img==None %}
	        				<img class="img-responsive imgrock"src="{{url_for('static',filename='img/rock/default.jpg')}}" alt="">
	        			{% else %}
							<img class="img-responsive imgrock"src="{{url_for('static',filename='img/rock/images/'+album.img)}}">
						{% endif %}
					</div>
					<div class="col-md-5 col-xs-5 col-sm-5 .col-sm-offset-6 .col-xs-offset-6 .col-md-offset-6">
						<ul class="col-sm-12 list-unstyled">
								{% if current_user.is_authenticated %}
									<li class="col-sm-12 col-md-4 col-xs-12 text-center coeur">
										{% if current_user.have_favoris(album.id) %}
						        			<a href="{{url_for('albumEtFavoris',id=album.id, favoris='false')}}" data-toggle="tooltip" data-placement="top" title="Supprimer des favoris" id="unfav" class="fa fa-heart fa-3x"></a>
						       			{% else %}
						        			<a href="{{url_for('albumEtFavoris',id=album.id, favoris='true')}}" data-toggle="tooltip" data-placement="top" title="Ajouter aux favoris" id="fav" class="fa fa-heart fa-3x"></a>
						        		{% endif %}
									</li>
			        			{% endif %}
							<li>
								{% if current_user.is_authenticated %}
									Notez moi :
									<div class="col-sm-12 col-md-8 col-xs-12 rating {% if note==None %}napasnote{% endif %}">
										<a href="{{ url_for('albumEtNote',id=album.id, note=5) }}" {% if note==5 %}id="note5"{% endif %} title="Donner 5 étoiles">☆</a>
										<a href="{{ url_for('albumEtNote',id=album.id, note=4) }}" {% if note==4 %}id="note4"{% endif %} title="Donner 4 étoiles">☆</a>
										<a href="{{ url_for('albumEtNote',id=album.id, note=3) }}" {% if note==3 %}id="note3"{% endif %} title="Donner 3 étoiles">☆</a>
										<a href="{{ url_for('albumEtNote',id=album.id, note=2) }}" {% if note==2 %}id="note2"{% endif %} title="Donner 2 étoiles">☆</a>
										<a href="{{ url_for('albumEtNote',id=album.id, note=1) }}" {% if note==1 %}id="note1"{% endif %} title="Donner 1 étoile">☆</a>
									</div>
								{% else %}
									<p class="col-sm-12 col-md-12 col-xs-12"><a href="{{ url_for('login', code='album/'~album.id) }}">Connectez-vous</a> pour noter cet album ou le mettre en favoris !</p>
								{% endif %}
							</li>
							{% if album.noteMoy!=None %}
								<li>
									Note moyenne des utilisateurs : {{ album.noteMoy|round(1) }}
								</li>
							{% endif %}
							<li class="col-sm-12">
								Date de sortie : {{album.year}}
							</li>
			  				<li class="col-sm-12">
			  					Genre(s) :
			  					<ul class="list-unstyled {% if album.children|length>=8 %} scroller {% endif %}">
			  						{% for genre in album.children %}
									<li><a href="{{ url_for('unGenre',id=genre.id)}}">{{ genre.name }}</a></li>
									{% endfor %}
			  					</ul>
			  				</li>
						</ul>
					</div>
				</div>
			</div>		

			{% if playerid != None %}
			<div class="col-md-12 col-xs-12 col-sm-12 text-center deezer">
				<h1>Ecoutez cet album avec le player Deezer</h1>
				<script>
					(function(d, s, id) { 
						var js, djs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return; 
						js = d.createElement(s); js.id = id; 
						js.src = "https://cdns-files.dzcdn.net/js/widget/loader.js"; 
						 djs.parentNode.insertBefore(js, djs);
					}
					(document, "script", "deezer-widget-loader"));
				</script>

				<div class="col-md-8 col-md-offset-2 col-sm-6 deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=dark&size=medium&type=album&id={{ playerid }}&title=&app_id=1" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="700" data-height="350"></div>
			{% endif %}

			</div>
				<h3>Commentaires pour cet album :</h3>
				{{ afficheCommentaire(album.commentaires) }}

			    <h3>Votre opinion</h3>
			    {% if current_user.is_authenticated %}
				<form id="formulaire" class="form-horizontal" role="form" method="POST" action="{{ url_for('comment', id=album.id)}}">
			        {{ commentaireFormulaire.hidden_tag() }}
			        <div class="form-group">
			            <label for="titre" class="col-sm-2 control-label">{{ commentaireFormulaire.titre.label }}</label>
			            <div class="col-sm-8">
			                {{ commentaireFormulaire.titre(size=50, class_="form-control", placeholder="Titre du commentaire") }}
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="texte" class="col-sm-2 control-label">{{ commentaireFormulaire.texte.label }}</label>
			            <div class="col-sm-8">
			                {{ commentaireFormulaire.texte(size=50, class_="form-control", placeholder="Commentaire") }}
			            </div>

			           	<div class="col-sm-8" style="display: none;">
			                {{ commentaireFormulaire.commentaireParent() }}
			            </div>

				        </div>
				        <div class="form-group">
				            <div class="col-sm-offset-2 col-sm-8">
				               <button type="submit" class="btn btn-default">Commenter</button>
				            </div>
				        </div>
			    </form>
				<button id="btnGeneral" class="btn btn-default" onclick="deplacerGeneral(this);" style="display: none;">Commenter</button>
				{% else %}
				<p><a href="{{url_for('login', code='album/'~album.id)}}">Connectez-vous</a> pour publier un commentaire !</p>
				{% endif %}
		</div>
	</div>
	<script type="text/javascript">
		function deplacer(bouton, id) {
			if(document.getElementById(document.getElementById("commentaireParent").value+"-btn")!=null){
				document.getElementById(document.getElementById("commentaireParent").value+"-btn").style.display = "inline-block";
			}
			bouton.style.display = "none";
			document.getElementById("btnGeneral").style.display = "inline-block";
			$("#formulaire").insertAfter('#'+id);
			document.getElementById("formulaire").style.marginLeft=document.getElementById(""+id).style.marginLeft
			div = document.getElementById("commentaireParent").value=id.toString();
		}

		function deplacerGeneral(bouton) {
			$("#formulaire").insertAfter('#btnGeneral');
			document.getElementById("btnGeneral").style.display = "none";
			document.getElementById(document.getElementById("commentaireParent").value+"-btn").style.display = "inline-block";
			div = document.getElementById("commentaireParent").value="";
			document.getElementById("formulaire").style.marginLeft="0px";
		}

	</script>
{% endblock %}
