{% extends "basePagination.html" %}
{% block content %}
	<div class="container">
		<div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
        		<div class="blur col-md-12 col-sm-12 col-xs-12">
					<img class="img-responsive" src="{{ info['picture_big'] }}" alt="">
				</div>
				<div class="info art">
	        		<div class="col-xs-12 col-md-12 col-sm-12 text-center">
						<h1>{{artiste.name}}</h1>
					</div>
					<div class="col-md-4 col-xs-4 col-sm-4 col-sm-offset-2 col-xs-offset-2 col-md-offset-2">
						<img class="img-responsive imgrock" src="{{ info['picture_big'] }}" alt="">
					</div>
					<div class="col-md-4 col-xs-4 col-sm-4 .col-sm-offset-6 .col-xs-offset-6 .col-md-offset-6 inf">
						<ul class="list-unstyled">
							<li>
								Nombre de fans : {{ info['nb_fan'] }}
							</li>
			  				<li>
			  					Album(s) :
			  					<ul class="list-unstyled {% if albums|length>=8 %} scroller {% endif %}">
			  						{% for album in albums %}
										<li><a href="{{url_for('album',id=album.id)}}">{{ album.title }}</a></li>
									{% endfor %}
			  					</ul>
			  				</li>
						</ul>
					</div>
				</div>
			</div>
		</div>		
	</div>
{% endblock %}