<!DOCTYPE html>
<html lang="en">

{% block styles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='css/agency.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
{% endblock %}
<body id="page-top" class="index">
{% block navbar %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">MusicInfo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="recherche">
                        <form role="form" method="POST" action="{{ url_for('recherche')}}">
                            {{ form.hidden_tag() }}
                            {{ form.recherche(required=form.recherche.flags.required, id="input", size=50, onclick="toggle_div('input', 'i');", class_="form-control", placeholder="Recherche par album")}}
                            <i id="i" onclick="toggle_div2('input', 'i');" class="fa fa-search"></i>
                            <!-- <input id="input" onclick="toggle_div('input', 'i');"placeholder="Rechercher" name="" id="schbox" class="form-control" type="text"> -->
                            <span class="input-group-btn">
                        </form>
                    </li>      
                    <li>
                        <a class="page-scroll" href="/genre/">Genre</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('favoris') }}">Favoris</a></li>
                    <li><a href="{{ url_for('logout') }}">Deconnexion <span class="glyphicon glyphicon-log-out" title="Logout"></span></a></li>
                    {% else %}
                    <li>
                        <a href="{{url_for('login')}}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block main %}
    <div id="main">
	   {%block content %}{% endblock %}
    </div>
{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; MusicInfo 2015</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{url_for('mentions')}}">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{url_for('static', filename='js/classie.js')}}"></script>
    <script src="{{url_for('static', filename='js/cbpAnimatedHeader.js')}}"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>
    <!-- Custom Theme JavaScript -->
    <script src="{{url_for('static', filename='js/agency.js')}}"></script>
    <script type="text/javascript">
        function toggle_div(id, other) { // On déclare la fonction toggle_div qui prend en param le bouton et un id
          var div = document.getElementById(id); // On récupère le div ciblé grâce à l'id
          if(div.style.display=="inline-block") { // Si le div est masqué...
            // div.style.display = "none"; // ... on l'affiche...
          } else { // S'il est visible...
            div.style.display = "inline-block"; // ... on le masque...
            div.style.width= "250px";
          }
        }


        function toggle_div2(id, other) { // On déclare la fonction toggle_div qui prend en param le bouton et un id
          var div = document.getElementById(id); // On récupère le div ciblé grâce à l'id
          if(div.style.display=="inline-block") { // Si le div est masqué...
            div.style.display = "none"; // ... on l'affiche...
          } else { // S'il est visible...
            div.style.display = "inline-block"; // ... on le masque...
            div.style.width= "250px";
          }
        }
    </script>
</body>