{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<ul class="pagination">
		{%- for page in pagination.iter_pages() %}
		{% if page %}
		    {% if page != pagination.page %}
		    <li> <a href="/{{nomPage}}{{id}}?page={{page}}{{params}}">{{ page }}</a> </li>
		    {% else %}
		    <li class="active"><a href="">{{ page }}</a></li>
		    {% endif %}
		{% else %}
		    <li> <span class=ellipsis>…</span> </li>
		{% endif %}
		{%- endfor %}
   </ul>
</div>
{% endblock %}