{% extends "basePagination.html" %}
{% block content %}
    <div class="container">
        <div class="grid">
            {% if current_user.is_authenticated %}
            	<h2 class="col-lg-12 text-center">Albums favoris</h2>
                {% if pagination!=None %}
                    <div class="row">
                        {% for album in pagination.items %}
                        <div class="col-md-4 col-sm-6 portfolio-item text-center">
                            <a href="{{ url_for('album', id=album.id)}}" class="portfolio-link center-block" data-toggle="modal">
                                {% if album.img==None %}
                                    <img src="{{url_for('static',filename='img/rock/default.jpg')}}" class="img-responsive imgrock center-block" alt="">
                                {% else %}
                                    <img src="{{url_for('static',filename='../static/img/rock/images/'+album.img)}}" class="img-responsive imgrock center-block" alt="">
                                {% endif %}
                                
                            </a>
                            <div class="portfolio-caption">
                                <h4>{{ album.title}}</h4>
                                <p class="text-muted">{{ album.by}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {{ super() }}
                {% endif %}
            {% endif %}
        </div>
   </div>
{% endblock %}
