{% extends "basePagination.html" %}
{% block content %}
    <div class="container">
        <div class="grid">
        	<h2 class="col-lg-12 text-center">Liste des genres</h2>
        	{{ type }}
            <ul class="col-lg-12 text-center">
                    {% for genre in pagination.items %}
                    	<li><a class="grey" href="{{url_for('unGenre',id=genre.id)}}">{{ genre.name|capitalize }}</a></li>
                    {% endfor %} 
            </ul>
       		{{ super() }}
        </div>
   </div>
{% endblock %}
