{% extends "base.html" %}
{% block main %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Bienvenue sur MusicInfo</div>
                <a href="{{ url_for('album',id=alea.id) }}" class="page-scroll btn btn-xl">Aléatoire</a>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="bg-light-gray portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Albums que vous pourriez aimer</h2>
                    <h3 class="section-subheading text-muted">Assortiment aléatoire d'albums de notre bibliothèque</h3>
                </div>
            </div>
            <div class="row">
                {% for album in musale %}
                <div class="col-md-4 col-sm-6 portfolio-item ">
                    <a href="{{ url_for('album',id=album.id) }}" class="portfolio-link center-block" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        {% if album.img==None %}
                            <img src="{{url_for('static',filename='img/rock/default.jpg')}}" class="img-responsive imgrock center-block" alt="">
                        {% else %}
                        <img src="{{url_for('static',filename='img/rock/images/'+album.img)}}" class="img-responsive imgrock center-block" alt="">
                        {% endif %}
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ album.title}}</h4>
                        <p class="text-muted">{{ album.by}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notre équipe</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAQ1AAAAJDM2ZTZlNzQ4LTFmMjgtNDFhYi04NmE3LTViNzk0N2VmMWQ4Zg.jpg" class="img-responsive img-circle" alt="">
                        <h4>Antoine Lamirault</h4>
                        <p class="text-muted">Développeur web</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:antoine.lamirault@etu.univ-orleans.fr"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/profile/view?id=AAMAABsJChEBxnT5TMaOe81WDTrXTB_7NRX-emo&trk=hp-identity-name"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASvAAAAJGU0ZWU4OTE1LWVhN2MtNGU2MC1iYWE2LWYwZGUxZTU2OGQ4NQ.jpg" class="img-responsive img-circle" alt="">
                        <h4>Clément Méreau</h4>
                        <p class="text-muted">Développeur web</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:clement.mereau@etu.univ-orleans.fr"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/profile/view?id=AAkAABsjkucBuao8C8eJc-uhbkeQrA3ZA7TdjCE&authType=NAME_SEARCH&authToken=q630&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A455316199%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1450181691818%2Ctas%3Amereau"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Etudiants en DUT Informatiques, nous mutualisons nos compétences pour créer ce site.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}