{% macro afficheCommentaire(commentaires, afficherEnfant=False, valueDepart=50, valueActuelle=50) %}
    {% for commentaire in commentaires %}
    	{% if commentaire.parent==None or afficherEnfant%}
			<div class="commentaire" style="margin-left: {{ valueActuelle }}px;" id="{{ commentaire.id }}">
				<h4 class="inBlock">{{ commentaire.titre }}</h4><p class="inBlock">par {{ commentaire.user_id }}</p>
				<a class="inBlock" id="{{ commentaire.id }}-btn"class="btn btn-default" onclick="deplacer(this,{{commentaire.id}});" style="cursor: pointer">Repondre</a>
				<p>{{ commentaire.texte }}</p>
			</div>
	    	{% if commentaire.children!=[] %}
				{{ afficheCommentaire(commentaire.children, afficherEnfant=True, valueActuelle=valueActuelle+valueDepart) }}
			{% endif %}
		{% endif %}
	{% endfor %}

{% endmacro %}