{% extends "basePagination.html" %}
{% block content %}
    <div class="container">
	<form class="form-horizontal" role="form" method="POST" action="{{ url_for('recherche')}}">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="recherche" class="col-sm-12">{{ form.recherche.label }}</label>
        <div class="col-sm-10">
            {{ form.recherche(size=50, class_="form-control", placeholder="Recherche") }}
        </div>
         <div class="col-sm-2">
           <button type="submit" class="btn btn-default">Rechercher</button>
        </div>
    </div>

    <div class="form-group">
        <p class="col-sm-12 " >Options de recherche:</p>
        {{form.options}}
    </div>

    {% if pagination!=None %}
        <div class="portfolio">
            <div class="row">
                {% for album in pagination.items %}
                <div class="col-md-4 col-sm-6 portfolio-item text-center">
                    <a href="{{ url_for('album',id=album.id)}}" class="portfolio-link center-block" data-toggle="modal">
                    <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                    </div>
                        {% if album.img==None %}
                            <img src="{{url_for('static',filename='img/rock/default.jpg')}}" class="img-responsive imgrock center-block" alt="">
                        {% else %}
                        <img src="{{url_for('static',filename='img/rock/images/'+album.img)}}" class="img-responsive imgrock center-block" alt="">
                        {% endif %}
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ album.title}}</h4>
                        <p class="text-muted">{{ album.by}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
	</form>
   {{ super() }}
   </div>
{% endblock %}