{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Inscription</h2>
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('signin')}}">
        {{ form2.hidden_tag() }}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ form2.username.label }}</label>
            <div class="col-sm-8">
                {{ form2.username(size=50, class_="form-control", placeholder="Pseudonyme") }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ form2.password.label }}</label>
            <div class="col-sm-8">
                {{ form2.password(size=50, class_="form-control", placeholder="Mot de passe") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
               <button type="submit" class="btn btn-default">S'inscrire</button>
            </div>
        </div>
    </form>
    <p>Déjà un compte ? Alors <a href="{{ url_for('login')}}">connecte toi</a> !</p>
</div>
{% endblock %}