{% extends "basePagination.html" %}
{% block content %}
    <div class="container portfolio">
    	<h2 class="text-center">{{ genre.name }}</h2>
    		<div class="row">
	            {% for album in pagination.items %}
	            <div class="col-md-4 col-sm-6 portfolio-item ">
                    <a href="{{url_for('album',id=album.id)}}" class="portfolio-link center-block" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        {% if album.img==None %}
                            <img src="{{url_for('static',filename='img/rock/default.jpg')}}" class="img-responsive imgrock center-block" alt="">
                        {% else %}
                        <img src="{{url_for('static',filename='img/rock/images/'+album.img)}}" class="img-responsive imgrock center-block" alt="">
                        {% endif %}
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ album.title}}</h4>
                        <p class="text-muted">{{ album.by}}</p>
                    </div>
                </div>
	            {% endfor %} 
	        </div>
	{{ super() }}
	</div>
{% endblock %}